<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="margin: 5px 10%">
      <div data-controller='body'>
        <%= render  'shared/nav' %>
        <div data-body-target='mainContainer'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
